{% extends "base.html" %}
{% load static %}

{% block header %}
    <header class="header--form-page">
          {% if user.is_authenticated %}
              <h2>Podsumowanie Twojej darowizny o ID <i>{{ donation.pk }}</i>:</h2>
              <div class="form-group form-group--buttons" style="float: right">
                  <form action="{% url 'url_archive' donation.id %}" method="post">{% csrf_token %}
                      <button type="submit" class="btn btn--highlighted">{% if donation.is_taken %}Przywróć {% else %}Oddaj{% endif %}</button>
                  </form>
                  <a href="{% url 'url_profile' %}">
                      <button type="button" class="btn">Powrót do profilu</button>
                  </a>
              </div>
              <div class="form-group detail--donation container--85">
                  <h4>Ilosć przekazanych worków: <i>{{ donation.quantity }}</i></h4>
                  <h4>Przekazano: <i>{{ donation.institution }}</i> </h4>

                  <h3>Dane miejsca odbioru:</h3>
                  <h4>Ulica: <i>{{ donation.address }}</i></h4>
                  <h4>Miasto: <i>{{ donation.city }}</i> </h4>
                  <h4>Kod pocztowy: <i>{{ donation.zip_code }}</i></h4>
                  <h4>Telefon: <i>{{ donation.phone_number }}</i> </h4>

                  <h3>Termin odbioru darowizny:</h3>
                  <h4>Data: <i>{{ donation.pic_up_date }}</i></h4>
                  <h4>Godzina: <i>{{ donation.pic_up_time }}</i> </h4>
                  <h4>Uwagi dla kuriera: <i>{{ donation.pic_up_comment }}</i></h4>
                  <h4>Odebrany: <i>{% if donation.is_taken %}TAK{% else %}NIE{% endif %}</i></h4>
              </div>
          {% endif %}
    </header>
{% endblock header %}



