{% extends "base.html" %}
{% load static %}

  <body>
    <header class="header--form-page">
      <nav class="container container--70">
      </nav>
    {% block header %}

      <div class="slogan container container--90">
          <h2>
            Dziękujemy za przesłanie formularza Na maila prześlemy wszelkie
            informacje o odbiorze.
          </h2>
      </div>
    {% endblock header %}
    </header>
{% block content %}


    <script src="{% static "js/app.js" %}"></script>
  {% endblock content %}
  </body>
</html>
